/*===========================================================================================================*/
/* CSS3 document created by Alex Clarke [September 2017] */
/*===========================================================================================================*/
/*===========================================================================================================*/
/* Fonts & Animations */
/*===========================================================================================================*/
@import url( 'https://fonts.googleapis.com/css?family=Poppins');
@keyframes fadeInAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*==========================================================================================================*/
/* Global Elements */
/*===========================================================================================================*/
html {
  max-width: 100%;
  margin: 0;
  padding: 0;
}
/* Header elements and each individual section */
h1,
h2,
h3,
section {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  word-break: break-word;
  max-width: 100%;
  /*max-height: 200px;
  overflow: hidden;*/
}
/* Used for the majority of standard text on the page */
p {
  font-family: sans-serif;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  margin: 10px 0;
  padding: 0;
  word-break: break-word;
}
/* How to style links (i.e. in navigation bar) */
a {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}
/*===========================================================================================================*/
/* Body Element */
/*===========================================================================================================*/
body {
  /*background-color: #5f8bcd;*/
  margin: 0;
  padding: 0;
}
/* Holds all elements within the body */
.bodyElementsContainer {
  display: flex;
  flex-direction: column;
  margin: 0;
}
/*===========================================================================================================*/
/* Welcome Section */
/*===========================================================================================================*/
.welcomeSection {
  order: 1;
  padding-top: 15px;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Page Title */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Holds the title for the page */
.pageTitleContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/*Holds the logo image for the site*/
.pageLogoContainer {
  width: 100px;
  height: auto;
  display: none;
}
/* Logo image for the site */
.pageLogo {
  width: 100%;
  height: 100%;
  display: block;
}
/* Text used for title of page */
.pageTitle {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 50px;
  display: inline-block;
  margin: 0 30px;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Nav Bar */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Holds the navigation bar */
.navBarContainer {
  margin: 0;
  padding: 0;
}
/* Holds all of the elements within the navigation bar */
.nav {
  margin: 0;
  padding: 0;
}
/* The hamburger menu icon */
.burgerMenuToggle {
  max-width: 100%;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  text-align: center;
  padding: 20px 0;
  transition: all 0.5s;
}
.burgerIconContainer {
  width: 60px;
  height: auto;
  margin: 0 auto;
  background-color: #2ea08c;
  transition: all 0.5s;
}
.burgerIconContainer:hover {
  background-color: #454862;
}
.burgerIconImage {
  width: 100%;
  height: 100%;
  display: block;
}
/* Checkbox used for checking if the menu is open or not */
#toggle {
  display: none;
}
/* If the checkbox is active, apply the following styles the element with ".menu" class */
#toggle:checked+.menu {
  display: flex;
}
/* The content of the navigation bar (i.e. holds the links) */
.menu {
  background-color: #e8e8e8;
  margin: 30px auto;
  text-align: center;
  display: none;
  flex-direction: column;
  padding: 0;
  box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.75);
  /* Animation used when the menu's display tag changes from none to block */
  animation-name: fadeInAnim;
  animation-duration: 1.2s;
}
/* A link item in the navigation bar */
.menu .standardNavElement {
  display: block;
  padding: 30px;
  border-bottom: 1px solid #484848;
  transition: margin 0.4s, border-radius 0.4s, border 0.4s;
}
.menu .standardNavElement:hover {
  background-color: #454862;
  border-radius: 50px;
  margin: 0 10px;
}
/* Change the colour of 'a' link text when 'li' element is hovered over */
.menu .standardNavElement:hover .standardNavLink {
  color: white;
}
.menu .standardNavElement:active {
  background-color: #313341;
  border-radius: 20px;
  margin: 0 30px;
}
.menu .standardNavElement .standardNavLink {
  text-decoration: none;
  font-size: 17px;
  letter-spacing: 2px;
  color: black;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Welcome Text */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Holds the welcome text for the site */
.welcomeTextContainer {
  /*border: 1px solid red;*/
  margin: 0 auto 30px;
  text-align: center;
  word-break: break-word;
}
/* The second paragraph starts with a big letter, simulating a books text */
#welcomeTextFirstParagraph {}
/* Making the first letter of the paragraph larger, simulating the look of a book */
#welcomeTextFirstParagraph::first-letter {
  color: #3f79cf;
  font-size: 40px;
  text-shadow: -1px -1px 0 #575757, 1px -1px 0 #575757, -1px 1px 0 #575757, 1px 1px 0 #575757;
}
/* The first welcome paragraph for the site */
.welcomeText {
  font-size: 18px;
  margin: 0 30px;
  letter-spacing: 2px;
}
/*===========================================================================================================*/
/* Featured Books Section */
/*===========================================================================================================*/
.booksSection {
  order: 2;
  display: flex;
  flex-direction: column;
}
/*===========================================================================================================*/
/* Featured Books Section */
/*===========================================================================================================*/
.featuredBooksSection {
  background-image: url("../img/books_bg.png");
  order: 1;
}
/* All the elements within the featured books section */
.featuredBooksSectionElements {
  /*padding: 2px 0;*/
  /*margin: 10px;*/
}
/*Holds the title for the featured books section*/
.featuredBooksSectionTitleContainer {
  text-align: center;
  margin: 16px 10px 10px;
}
/* Title text for the featured books section */
.featuredBooksSectionTitleText {
  font-size: 35px;
  letter-spacing: 7px;
  text-shadow: -1px -1px 1px #d7d7d7, 1px -1px 1px #d7d7d7, -1px 1px 1px #d7d7d7, 1px 1px 1px #d7d7d7;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Featured Books Panels */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*Holds all of the featured books panels*/
.featuredBooksPanelsContainer {
  text-align: center;
}
/* An individual featured book panel */
.featuredBookPanel {
  background-color: white;
  border: 1px solid black;
  max-width: 500px;
  margin: 20px auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.75);
  -o-box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.75);
  -ms-box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.75);
}
.bookCoverImageContainer_featuredBookPanel {
  max-width: 170px;
  border: 1px solid black;
  height: auto;
  margin: 1em auto;
  order: 1;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.75);
  -o-box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.75);
  -ms-box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.75);
}
.bookTextContainer_featuredBookPanel {
  order: 2;
}
.bookHeaderContainer {
  display: flex;
  flex-direction: row;
}
.bookHeaderContainer_featuredBookPanel {
  justify-content: center;
}
.bookTitle {
  font-weight: bold;
  font-size: 16px;
  order: 1;
  text-align: center;
}
.bookSubtitle {
  font-size: 15px;
  order: 2;
}
/*===========================================================================================================*/
/* Main Books Section */
/*===========================================================================================================*/
.mainBooksSection {
  order: 2;
}
/* Holds all of the main book panels */
.mainBooksPanelsContainer {}
/* A single main book panel */
.mainBookPanel {
  max-width: 90%;
  border: 1px solid black;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.75);
  -o-box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.75);
  -ms-box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.75);
}
/* This class is added to a book if it has been selected by the user */
.is-selected {
  background-color: pink;
}
.bookCoverImageContainer_mainBookPanel {
  width: 130px;
  height: 160px;
  border: 1px solid black;
  margin: 10px auto;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.75);
  -o-box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.75);
  -ms-box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.75);
  order: 1;
}
.bookCoverImage {
  width: 100%;
  height: 100%;
  display: block;
}
.bookTextContainer_mainBookPanel {
  order: 2;
}
.bookHeaderContainer_mainBookPanel {
  justify-content: center;
}
/*===========================================================================================================*/
/* Social Media Section */
/*===========================================================================================================*/
.socialMediaSection {
  order: 3;
  padding: 15px 0 25px;
}
/* Holds all elements within the social media section */
.socialMediaElementsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* Holds a social media icon */
.socialMediaIconContainer {
  width: 50px;
  height: auto;
  margin: 0 15px;
  transition: transform 0.3s;
}
.socialMediaIconContainer:hover {
  transform: rotateY(40deg);
  -webkit-transform: rotateY(40deg);
  /* Safari | Chrome */
  -moz-transform: rotateY(40deg);
  /* Firefox */
  -o-transform: rotateY(40deg);
  /* Opera */
  -ms-transform: rotateY(40deg);
  /* Internet Explorer */
}
.socialMediaIconContainer:active {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  /* Safari | Chrome */
  -moz-transform: rotateY(180deg);
  /* Firefox */
  -o-transform: rotateY(180deg);
  /* Opera */
  -ms-transform: rotateY(180deg);
  /* Internet Explorer */
}
/* An social media icon image */
.socialMediaIcon {
  height: 100%;
  width: 100%;
  display: block;
}
/*************************************************************************************************************/
/*===========================================================================================================*/
/* BREAKPOINTS */
/*===========================================================================================================*/
/*************************************************************************************************************/
/*===========================================================================================================*/
/* 1st Breakpoint - [Mobile Devices] */
/*===========================================================================================================*/
@media only screen and (min-width: 450px) {
  /*===========================================================================================================*/
  /* Main Books Section - [1st Break] */
  /*===========================================================================================================*/
  /* Title text for the featured books section */
  .featuredBooksSectionTitleText {
    font-size: 40px;
  }
  /* A single main book panel */
  .mainBookPanel {
    /*padding: 20px;*/
    flex-direction: row;
    justify-content: left;
    align-items: center;
    word-break: break-all;
  }
  .bookCoverImageContainer_mainBookPanel {
    margin-right: 20px;
    order: 1;
    justify-content: flex-start;
    width: 150px;
    height: auto;
  }
  .bookCoverImage {}
  .bookTextContainer_mainBookPanel {
    order: 2;
  }
  .bookHeaderContainer_mainBookPanel {
    justify-content: left;
  }
  .bookTitle {
    font-size: 19px;
  }
  .bookSubtitle {
    font-size: 18px;
  }
  p {
    font-size: 17px;
  }
  .bookAuthors_mainBookPanel {
    text-align: left;
  }
  .bookPageNumber_mainBookPanel {
    text-align: left;
  }
  .bookDescription_mainBookPanel {
    text-align: left;
  }
  /*===========================================================================================================*/
  /* [END OF]: 1st Break Point - [Mobile Devices] */
  /*===========================================================================================================*/
}
/*===========================================================================================================*/
/* 2nd Break Point - [PCs] */
/*===========================================================================================================*/
@media only screen and (min-width: 1500px) {
  .bodyElementsContainer {
    margin: 0 5%;
  }
  /*===========================================================================================================*/
  /* Welcome Section - [2nd Break] */
  /*===========================================================================================================*/
  .welcomeSection {
    order: 2;
    padding: 0;
  }
  .pageTitleContainer {
    margin-top: -30px;
  }
  .pageLogoContainer {
    display: flex;
  }
  /*===========================================================================================================*/
  /* Nav Bar - [2nd Break] */
  /*===========================================================================================================*/
  .burgerMenuToggle {
    display: none;
  }
  .menu {
    display: flex;
    flex-direction: row;
    max-width: 70%;
    border: 1px solid #848484;
  }
  .menu .standardNavElement {
    margin: 0;
    flex: 1;
    padding: 20px 0;
    text-align: center;
    border: 1px solid #A4A4A4;
  }
  .menu .standardNavElement:hover {
    border-radius: 5px;
    /*border-left: 1px solid black;*/
  }
  .menu .standardNavElement:last-child {
    /*border: none;*/
    /*border-left: 1px solid black;*/
  }
  .booksSection {
    order: 3;
    margin: 0;
    flex-direction: row-reverse;
    align-items: flex-start;
  }
  .mainBooksSection {
    flex: 4;
  }
  .mainBooksPanelsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
  }
  .mainBookPanel {
    height: 270px;
    width: 43%;
    align-items: center;
    justify-content: center;
  }
  .bookCoverImageContainer_mainBookPanel {
    width: 200px;
    margin: 10px 20px 10px 5px;
  }
  .bookTextContainer_mainBookPanel {
    max-height: 100%;
    overflow: auto;
  }
  .bookHeaderContainer {
    flex-direction: column;
  }
  .bookTitle {
    font-size: 16px;
  }
  .bookSubtitle {
    font-size: 15px;
  }
  p {
    font-size: 14px;
    margin: 5px;
  }
  .featuredBooksSection {
    flex: 1;
    padding: 0 20px;
    margin: 20px 0 0;
  }
  .socialMediaSection {
    order: 1;
    padding: 0;
  }
  /* Holds all elements within the social media section */
  .socialMediaElementsContainer {
    justify-content: flex-end;
    margin: 20px 0;
  }
  /*===========================================================================================================*/
  /* [END OF]: 2nd Break Point - [PCs] */
  /*===========================================================================================================*/
}
